---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/engagements/v1/engagements?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"engagement":{"type":"NOTE"},"associations":{"contactIds":[null]},"metadata":{"body":"test
        note"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"engagement":{"id":185949811,"portalId":62515,"active":true,"createdAt":1481812712677,"lastUpdated":1481812712677,"type":"NOTE","timestamp":1481812712677},"associations":{"contactIds":[],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[]},"metadata":{"body":"test
        note"}}'
  recorded_at: Thu, 15 Dec 2016 14:38:32 GMT
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/185949811?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"engagement":{"id":185949811,"portalId":62515,"active":true,"createdAt":1481812712677,"lastUpdated":1481812712677,"type":"NOTE","timestamp":1481812712677},"associations":{"contactIds":[],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[]},"metadata":{"body":"test
        note"}}'
  recorded_at: Thu, 15 Dec 2016 14:38:32 GMT
[...]
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/185949811?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 15 Dec 2016 14:38:33 GMT
recorded_with: VCR 2.4.0
